@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ABC Oracle Light";
  src: url("../fonts/ABCOracle-Light-Trial.otf") format("opentype");
}

@font-face {
  font-family: "Test Founders Grotesk Regular";
  src: url("../fonts/TestFoundersGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Test Founders Grotesk Medium";
  src: url("../fonts/TestFoundersGrotesk-Medium.otf") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {

  /* primary colors */
  --color-blue: #22ccff;
  --color-blue-muted: #0e282f;
  --color-blue-dormant: #0e282f;
  --color-yellow: #faff48;
  --color-yellow-muted: #b8bd0b;
  --color-yellow-dormant: #b8bd0b;
  --color-red: #ff322f;
  --color-red-muted: #c4120f;
  --color-red-dormant: #7a0200;

  /* monochrome */
  --color-whitest: #efefef;
  --color-blackest: #090909;
  --color-black-90: #131313;
  --color-black-85: #181818;
  --color-black-80: #333333;
  --color-black-40: #8f8f8f;

  /* color assignments */
  --primary-background-color: var(--color-blackest);
  --lighter-background-color: var(--color-black-90);
  --eggshell-white: var(--color-whitest);
  --border-color: var(--color-black-80);

  /* daisy-ui overrides */
  --fallback-er: var(--color-red-muted);

  /* fonts */
  --font-family-primary: "Test Founders Grotesk Regular", sans-serif;
  --font-family-mono: "Test Founders Grotesk Regular", sans-serif;
  --font-family-button: "Test Founders Grotesk Medium", sans-serif;


}

/* progress */
progress { height: 3px; }

/* progress primary */
progress.progress-primary { background-color: var(--color-blue-dormant); }
progress.progress-primary::-moz-progress-bar { background: var(--color-blue); }
progress.progress-primary::-webkit-progress-value { background: var(--color-blue); }
progress.progress-primary { color: var(--color-blue); }

/* progress neutral */
progress.progress-neutral { background-color: var(--color-blue-dormant); }
progress.progress-neutral::-moz-progress-bar { background: var(--color-blue); }
progress.progress-neutral::-webkit-progress-value { background: var(--color-blue); }
progress.progress-neutral { color: var(--color-blue); }

/* progress secondary */
progress.progress-secondary { background-color: var(--color-red-dormant); }
progress.progress-secondary::-moz-progress-bar { background: var(--color-red); }
progress.progress-secondary::-webkit-progress-value { background: var(--color-red); }
progress.progress-secondary { color: var(--color-red); }

/* progress success */
progress.progress-success { background-color: var(--color-red-dormant); }
progress.progress-success::-moz-progress-bar { background: var(--color-red); }
progress.progress-success::-webkit-progress-value { background: var(--color-red); }
progress.progress-success { color: var(--color-red); }

/* buttons */

.button {
    background-color: var(--color-yellow-muted);
    border-radius: 9999px;
    color: var(--color-yellow);
    cursor: pointer;
    font-family: var(--font-family-button);
    font-size: 17px;
    padding: 15px 30px;
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    opacity: 0.9;
    transition-duration: 0.2s;
}

body {
  background-color: var(--primary-background-color);
  color: var(--color-whitest);
  font-size: 20px;
}

h1, label.btn-primary {
  font-family: var(--font-family-primary);
}

body, h2, h2 em, #studio h1, #studio p, #studio article {
  font-family: var(--font-family-primary);
}

#timer {
  font-family: var(--font-family-mono);
}

.bg-images {
  background-image: url(../bg.png);
  background-repeat: no-repeat;
  background-position: left 35em top 5em;
}

.bg-images-right {
  background-image: url(../bg-2.svg);
  background-repeat: no-repeat;
  background-position: right 0em top 0em;
}

h1 {
  line-height: 3rem;
  font-size: 42px;
}

label.btn-primary {
  font-size: 28px;
  color: white;
}

h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
}

h2 em {
  font-weight: bold;
  font-style: normal;
  color: #3A59FF;
}
