@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ABC Oracle Light";
  src: url("/fonts/ABCOracle-Light-Trial.otf") format("opentype");
}

:root {
  --primary-background-color: #090909;
  --lighter-background-color: #131313;
  --eggshell-white: #efefef;
  --border-color: #333;
}

body {
  color: rgb(239, 239, 239);
  font-size: 20px;
  background-color: var(--primary-background-color);
}

h1, label.btn-primary {
  font-family: 'Test Söhne Breit Halbfett';
}

body, h2, h2 em, #studio h1, #studio p, #studio article {
  font-family: 'Test National', sans-serif;
}

#timer {
  font-family: 'Test Pitch Sans';
}

.bg-images {
  background-image: url(../bg.svg);
  background-repeat: no-repeat;
  background-position: left 35em top 5em;
}

.bg-images-right {
  background-image: url(../bg-2.svg);
  background-repeat: no-repeat;
  background-position: right 0em top 0em;
}

h1 {
  line-height: 3rem;
  font-size: 42px;
}

label.btn-primary {
  font-size: 28px;
  color: white;
}

h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
}

h2 em {
  font-weight: bold;
  font-style: normal;
  color: #3A59FF;
}
