.transcript-editor article.article-loading .contents {
  color: rgba(0,0,0,0);
}

.transcript-editor article.article-loaded .contents {
  color: rgba(0,0,0,1.0);
  transition: all 0.5s ease-in-out 0.1s;
}

.transcript-editor  {
  background-color: var(--color-black-85);
  box-shadow: 15px 10px 50px -2px #000000;
  min-width: 640px;
  max-width: 640px;
  height: 100vh;
  overflow: auto;
  padding: 66px;
}

.transcript-editor  h1, .transcript-editor  span {
    color: #ddd;
}

.transcript-editor .contents span.focussed,
.transcript-editor .contents span.unfocussed:hover {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

@keyframes fadeRedToWhite {
  0% {
    color: var(--color-red);
  }
  100% {
    color: var(--color-whitest);
  }
}

.transcript-editor .contents span.focussed {
  animation: fadeRedToWhite 2s ease-in-out;
}

.transcript-editor .contents span.unfocussed {
  transition: none;
}

.transcript-editor .contents span.unfocussed:hover {
  color: var(--color-red);
}
