.editable-text {
  width: stretch;
}

.editable-text textarea {
  background: transparent;
  resize: none;
  caret-color: #ff3434;
  width: stretch;
}

.editable-text textarea:focus {
  outline: none;
}
