.transcript-editor {
  scrollbar-color: #444 black;
}

.transcript-editor ::-webkit-scrollbar {
    background-color: black;
}

.transcript-editor ::-webkit-scrollbar-thumb {
    background-color: #444;
}

.transcript-editor article.article-loading .contents {
  color: rgba(0,0,0,0);
}

.transcript-editor article.article-loaded .contents {
  color: rgba(0,0,0,1.0);
  transition: all 0.5s ease-in-out 0.1s;
}

.transcript-editor  {
  background-color: var(--color-black-85);
  box-shadow: 15px 10px 50px -2px #000000;
  min-width: 640px;
  max-width: 640px;
  height: 100vh;
  overflow: auto;
  padding: 66px;
}

.transcript-editor  h1, .transcript-editor  span {
    color: #ddd;
}

.transcript-editor .contents span.focussed,
.transcript-editor .contents span.unfocussed:hover {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

@keyframes fadeRedToWhite {
  0% {
    color: var(--color-red);
  }
  100% {
    color: var(--color-whitest);
  }
}

.transcript-editor .contents span.focussed {
  color: var(--color-red); /* Focused words stay red */
}

.transcript-editor .contents span.unfocussed {
  animation: none; /* Default state has no animation */
  color: var(--color-whitest); /* Unfocused words are white */
  transition: none; /* Prevent hover transition from applying here */
}

.transcript-editor .contents span.unfocussed.player-moving {
  animation: fadeRedToWhite 2s ease-in-out; /* Fade from red to white */
}

.transcript-editor .contents span.unfocussed:hover {
  color: var(--color-red); /* Words turn red on hover */
  transition: color 0.1s; /* Immediate change on hover */
}
