.track-form {
}

.track-form .input-group {
  margin-top: 20px;
}

.track-form label {
  margin-left: 5px;
  margin-right: 7px;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
}

.track-form .description {
  font-weight: 100;
  font-size: 16px;
  line-height: 0.1em;
  color: #888;
}

.track-form input, textarea {
  caret-color: #ff3434;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  resize: none;
  margin-top: 2px;
  padding: 13px;
  color: #444;
}

.track-form input:focus, textarea:focus {
  outline: none;
}
