#studio h1 {
  font-weight: bold;
  line-height: 2rem;
  font-size: 26px;
}

#studio p, #studio article, #sidebar textarea.sidebar-speaker {
  font-size: 16px;
}

#sidebar {
  color: #6e6e6e;
  background-color: rgba(32,32,32,0.36);
  min-width: 250px;
}

#sidebar textarea {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0;
}

#sidebar .tt-add img {
  cursor: pointer;
}

#sidebar .tt-add img:hover {
  filter: brightness(1.05);
}

#sidebar .border-b {
  border-color: rgb(37,37,37);
}

#sidebar h3 {
    color: #bbbbbb;
}

#editor {
  background-color: #131313;
  box-shadow: 15px 10px 50px -2px #000000;
  min-width: 640px;
  max-width: 640px;
  height: 100vh;
  overflow: auto;
  padding: 65px;
}

#editor h1, #editor span {
    color: #ddd;
}

#player {
  flex-basis: 100%;
  background-color: rgba(32,32,32,0.36)
}
