#studio h1 {
  font-weight: bold;
  line-height: 2rem;
  font-size: 26px;
}

#studio p, #studio article {
  font-size: 16px;
}

#sidebar {
  min-width: 250px;
}

#sidebar .section-add-title img {
  cursor: pointer;
}

#sidebar .section-add-title img:hover {
  filter: brightness(1.05);
}

#sidebar .section-add-title textarea {
  background-color: #F5F3ED;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  resize: none;
  caret-color: #ff3434;
  margin-top: 0;
}

#sidebar .section-add-title textarea:focus {
  outline: none;
}

#editor {
  box-shadow: 7px 0 15px -2px #e8e6e0;
  min-width: 640px;
  max-width: 640px;
  height: 100vh;
  overflow: auto;
  padding: 65px;
}

#player {
  flex-basis: 100%;
}
