#studio h1 {
  font-weight: bold;
  line-height: 2rem;
  font-size: 26px;
}

#studio p, #studio article {
  font-size: 16px;
}

#sidebar {
  min-width: 250px;
}

#sidebar textarea {
  font-size: 14px;
  line-height: 1.5;
}

#sidebar .tt-add img {
  cursor: pointer;
}

#sidebar .tt-add img:hover {
  filter: brightness(1.05);
}

#editor {
  box-shadow: 7px 0 15px -2px #e8e6e0;
  min-width: 640px;
  max-width: 640px;
  height: 100vh;
  overflow: auto;
  padding: 65px;
}

#player {
  flex-basis: 100%;
}
